---
---

@import "{{ site.theme }}";

$cs-yellow: #ffa300;
$cs-blue: #00b5e2;
$cs-gray: #75787b;
$cs-black: #000000;

.page-header {
  background-color: $cs-yellow;
  background-image: linear-gradient(135deg, #ff00ff, $cs-yellow 60%);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: $cs-yellow;
}

.main-content hr {
  margin: 4rem 0;
}

.project-name-link {
  text-decoration: none;
  color: #fff;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}
